:root {
  --yellow: #f5c32c;
  --orange: #00FFC2;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor:  #D3EBE8;
  --buttonBg: linear-gradient(to right, #603813 0%, #A6A6A6  51%, #603813  100%);
  
  --inputColor: rgba(40, 52, 62, 0.07);
  --inpuColor:#CFCECE;
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
--shedule: #E1AE4A;
--name:linear-gradient(98.63deg, #302b63 0%, #24243e 100%)
}
.App {
    overflow: hidden;
    color: var(--black);
    background:linear-gradient(98.63deg, #9796f0 0%, #fbc7d4 100%) ;
    padding: 1rem 1rem;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px);
}
.card{
  background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  background: #C1C1C1;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: all 100ms ease-out;
}
.button:hover{
  cursor: pointer;
  color: #000;
  background: transparent;
  border: 2px solid #000;
}
.button:disabled{
  background: silver;
  pointer-events: none;
}
::-webkit-scrollbar{
  display: none;
}
